/*

// -- TelePrompt CSS -- \\
By AceiusIO And Bully-Man

*/

body {
    font-family: 'Calibri Light', Calibri, sans-serif;
    background-color: black;
    text-align: center;
    color: white;
}

header {
	font-family: Calibri, sans-serif;
}

h1 {
	text-align: center;
	font-family: Calibri, sans-serif;
}

h2 {
	text-align: center;
	font-family: Calibri, sans-serif;
}

p {
	font-family: 'Calibri Light', Calibri, sans-serif;
}

textarea {
	font-family: 'Calibri Light', Calibri, sans-serif;
	background-color: black;
	color: white;
}

input {
	font-family: 'Calibri Light', Calibri, sans-serif;
	background-color: black;
	color: white;
}

button {
	font-family: 'Calibri Light', Calibri, sans-serif;
	background-color: black;
	text-align: center;
	color: white;
}

a {
	font-family: 'Calibri Light', Calibri, sans-serif;
	color: white;
}
